#editor, #actions, #loading, .CodeMirror {
    display:none;
}
.CodeMirror {
    border-top: 1px solid black; border-bottom: 1px solid black;
}
#console {
    position: absolute;
    width: 90%;
    height: 400px;
}
.float_right {
    float:right;
}